<html>
	<head>
		<title>Rick's Designs & Developments</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
	</head>
	<body>
		
		<div class="wrapper wrapper_pading clearfix">
			<div class="col-1 about homepage_content">
				<h2>About</h2>
				<hr>
				<p>Umami vegan salvia art party &amp; truffaut tattooed Austin retro. </p>
				<p>Fingerstache Tumblr keytar, Neutra banjo tattooed gentrify cold-pressed gluten-free at <a href="#">Taj Mahal</a>.</p>
				<p>Quinoa whatever farm-to-table scenester, lomo art party DIY Shoreditch distillery master cleanse squid gentrify twee flannel.</p>
			</div>
			<div class="col-2 homepage_content">
				<h2>My Latest Articles </h2>
				<hr>
				<h3>The Do-list</h3>
				<p class="date">Friday October 11th</p>
				<h3>Things to Learn</h3>
				<p class="date">Wednesday June 22nd</p>
				<h3>Getting to the Top of the Heap</h3>
				<p class="date">Sunday April 4th</p>
			</div>
			<div class="col-3 homepage_content">
				<h2>Personal Projects</h2>
				<hr>
				<h3>Trump Towers</h3>
				<p class="date">Friday October 11th</p>
				<h3>Taj Mahal</h3>
				<p class="date">Wednesday June 22nd</p>
				<h3>Golden Gate Bridge</h3>
				<p class="date">Sunday April 4th</p>
			</div>	
		</div>
		<footer id="main_footer">
			<p class="copyright">&copy; 2015 Rick's</p>
			<nav>
				<a href="#"><i class="fa fa-black-tie"></i></a>
				<a href="#"><i class="fa fa-sticky-note"></i></a>
				<a href="#"><i class="fa fa-map"></i></a>
			</nav>
		</footer>
	</body>
</html>